
@model ForgetPasswordModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Yeni Şifre oluşturma</h2>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-info">@TempData["SuccessMessage"]</div>
        }
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>
        <form asp-action="ForgetPassword" asp-controller="Home" method="post">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" asp-for="Password">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">PasswordConfirm</label>
                <input type="password" class="form-control" id="exampleInputPassword1" asp-for="PasswordConfirm">
            </div>
            <button>Yeni şifre </button>

        </form>

    </div>

</div>
