
@model List<UserViewModels>
<h1>Üye Listesi</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Kullanıcı Adı: </th>
            <th>Email: </th>
            <th>Kullanici Telefon Numarası: </th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
            </tr>
        }
    </tbody>

</table>
